

<div class="container">
    <div class="recuperacion-card">
        <div class="column">
            <h1><i class="fas fa-lock"></i> Password Recovery <i class="fas fa-lock"></i></h1>
        
        
            <p> <i class="fas fa-key"></i> Enter your email to recover your password <i
                    class="fas fa-key"></i></p>
        
        
            <form>
                <div class="form-group">
                    <input type="email" class="form-group" placeholder="Enter email" name="email" id="email"
                        [(ngModel)]="userData.email" required>
                </div>

                <div class="flex">
                    <button type="submit" (click)="recoverPassword()">Send Email</button>
                </div>
            </form>
        </div>
    </div>
</div>